<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io - Project</title>
    <link rel="stylesheet" href="/style/project.css">
    <script src="https://kit.fontawesome.com/ea624d8d08.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">cahlee.io</a></h1>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/post/list">Posts</a>
                </li>
                <li>
                    <a href="/project/list">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="projects">
        <article class="project">
            <h1><a href="#">블로그</a></h1>
            <h6>기간 : 2023-12-09 16:52:00 ~ </h6>
            <div>
                <ul class="project__tags">
					<li class="project__tag">Java 17</li>
					<li class="project__tag">Spring Boot 3.2.0</li>
					<li class="project__tag">Thymeleaf</li>
					<li class="project__tag">HTML</li>
					<li class="project__tag">CSS</li>
					<li class="project__tag">JavaScript</li>
				</ul>
				repo : <a href="https://github.com/cahlee/blog">https://github.com/cahlee/blog</a>
				sample : <a href="http://cahlee.io">http://cahlee.io</a>
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">암기카드</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                <ul>
                <ul class="project__tags">
					<li class="project__tag">Java 17</li>
					<li class="project__tag">Spring Boot 3.2.0</li>
					<li class="project__tag">Thymeleaf</li>
					<li class="project__tag">HTML</li>
					<li class="project__tag">CSS</li>
					<li class="project__tag">JavaScript</li>
				</ul>
				repo : <a href="https://github.com/cahlee/flashcard">https://github.com/cahlee/flashcard</a>
				sample : <a href="http://cahlee.io/memorycard">http://cahlee.io/memorycard</a>
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">쇼핑몰</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">오픈그리드</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">자바 위키</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">테이스팅 노트</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">사이트 가상 대기실</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">메신저</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">어플리케이션 모니터링 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">포스 클라이언트</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">웹 캐싱 솔루션</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">가계부</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">백패킹 일지</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">메뉴 선택</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">야구 기록 관리</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">메일 서버 구축</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">사진 관리 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">프로젝트 관리 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">모임 관리</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">홈 클라우드 서버</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">요구사항 관리 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">테스팅 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
        
        <article class="project">
            <h1><a href="#">배치 작업 관리 도구</a></h1>
            <h6>2023-12-09 16:52:00 ~ </h6>
            <div>
                
            </div>
        </article>
    </section>
    <footer>
		<p>
        	<i class="fa fa-copyright fa-flip-horizontal"></i> 2023 cahlee - All rights reversed
        </p>
    </footer>
</body>
</html>