<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io - Posts</title>
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://kit.fontawesome.com/ea624d8d08.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">cahlee.io</a></h1>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/post/list">Posts</a>
                </li>
                <li>
                    <a href="/project/list">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>

        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>

        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>
    </section>
    <footer>
		<p>
        	<i class="fa fa-copyright fa-flip-horizontal"></i> 2023 cahlee - All rights reversed
        </p>
    </footer>
</body>
</html>