<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io - update</title>
    <link rel="stylesheet" href="/style/post.css">
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
    <script src="https://kit.fontawesome.com/ea624d8d08.js" crossorigin="anonymous"></script>
    <script src="/script/post.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">cahlee.io</a></h1>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/post/list">Posts</a>
                </li>
                <li>
                    <a href="/project/list">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="editor__form">
        <div class="editor__title">
            <label for="title">제목</label>
            <input type="text" name="title" th:value="${post.title}">
        </div>
        <div class="editor__author">
            <label for="author">작성자</label>
            <input type="text" name="author" th:value="${post.author}">
        </div>
        <div class="editor__contents">
            <label for="editor">내용</label>
            <div id="editor" name="editor" th:utext="${post.contents}"></div>
        </div>
        <div>
            <button class="editor__cancel">취소</button>
            <button class="editor__update">수정</button>
        </div>
    </section>
    <footer>
		<p>
        	<i class="fa fa-copyright fa-flip-horizontal"></i> 2023 cahlee - All rights reversed
        </p>
    </footer>
</body>
</html>