body {
    max-width: 768px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 1rem;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.project {
    border: solid 1px black;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.project__tag {
	display: flex;
}