<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io - new User</title>
    <link rel="stylesheet" href="/style/post.css">
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
    <script src="https://kit.fontawesome.com/ea624d8d08.js" crossorigin="anonymous"></script>
    <script src="/script/user.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">cahlee.io</a></h1>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/post/list">Posts</a>
                </li>
                <li>
                    <a href="/project/list">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="user__form">
	        <div class="user__id">
	            <label for="id">아이디</label>
	            <input type="text" name="id">
	        </div>
	        <div class="user__name">
	            <label for="name">이름</label>
	            <input type="text" name="name">
	        </div>
	        <div class="editor__password">
	            <label for="password">패스워드</label>
	            <input type="password" name="password">
	        </div>
	        <div class="editor__password_confirm">
	            <label for="password_confirm">패스워드 확인</label>
	            <input type="password" name="password_confirm">
	        </div>
	    </form>
        <div>
            <button class="user__cancel">취소</button>
            <button class="user__submit">등록</button>
        </div>
    </section>
    <footer>
		<ul>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
		</ul>
		<p>
        	<i class="fa fa-copyright fa-flip-horizontal"></i> 2023 cahlee - All rights reversed
        </p>
    </footer>
</body>
</html>