<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io - About</title>
    <link rel="stylesheet" href="/style/about.css">
    <script src="https://kit.fontawesome.com/ea624d8d08.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">cahlee.io</a></h1>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/post/list">Posts</a>
                </li>
                <li>
                    <a href="/project/list">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="about">
			<div class="about__item">location : Seoul, Korea</div>
			<div class="about__item">
				IBM - LG U+ (2023. 02 ~ )<br>
				[유료구독플랫폼]<br>
				- 메인 전시 개발(상품/위젯/redis)<br>
				- 요금 청구 개발(kafka)<br>
				- java/mysql/GCP/k8s
			</div>
			<div class="about__item">
				IBM - AMOREPACIFIC (2014. 10 ~ 2022. 12)<br>
				[이니스프리 쇼핑몰]<br>
				- 2021.05 ~ 2022. 12<br>
				- e-commerce(상품/이벤트/주문/결제/고객/포인트/O2O)<br>
				- 메인 전시 개발(CDN/웹캐싱)<br>
				- SEO 적용<br>
				- CICD(jenkins) pipeline 구축<br>
				- 어플리케이션 성능개선<br>
				- java/oracle/AIX<br><br>
				[아리따움, 에뛰드, 에스쁘아, 이니스프리, 아모레스토어]<br>
				- 2015. 11 ~ 2021. 04<br>
				- POS 관리(상품/이벤트/소계/결제/고객/포인트/O2O)<br>
				- 매장 관리(발주/재고/정산)<br>
				- IT 서비스 관리<br>
				- 전자가격택(ESL) 관리<br>
				- java/oracle/MiPlatform/delphi/AIX<br><br>
				[에뛰드, 에스쁘아, 아모레스토어]<br>
				- 2018. 04 ~ 2018. 07<br>
				- 모바일 POS 개발(android)<br>
				- java/oracle/MiAPS/AIX<br><br>
				[AMOREPACIFIC]<br>
				- 2014. 10 ~ 2015. 11<br>
				- GIANT 프로젝트(SAP-Legacy 인터페이스 현행화 프로젝트)<br>
				- 기준정보 마이그레이션<br>
				- 프로젝트 관리 도구 개발<br>
				- java/oracle
			</div>
			<div class="about__item">developer@cahlee.io</div>
			<div class="about__item">https://github.com/cahlee</div>
			<div class="about__item">http://cahlee.io</div>
        </article>
    </section>
    <footer>
		<p>
        	<i class="fa fa-copyright fa-flip-horizontal"></i> 2023 cahlee - All rights reversed
        </p>
    </footer>
</body>
</html>