<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cahlee.io</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header>
        <nav>
            <h1>cahlee.io</h1>
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Posts</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>

        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>

        <article class="post">
            <h1><a href="#">Post1</a></h1>
            <h5 class="post__author">by cahlee</h5>
            <h6 class="post__created">2023-12-09 16:52:00</h6>
            <div class="post__contents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <pre><code>
#include &lt;stdio.h&gt;
int main(void) {
    printf("hello, world!\n")
    return 0;
}
                </code></pre>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ut quas harum voluptate quia quod repellendus neque esse tempore a culpa suscipit officiis, sint, necessitatibus cupiditate nemo facilis ad error.</p>
            </div>
        </article>
    </section>
    <footer>
        cahlee 2023
    </footer>
</body>
</html>